

  * { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
     } 
  body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
  }

  .nav-ul {
    padding: 8px;
    background-color: #1d201d;
    
    list-style: none;
    display: inline-block;
    width: 100%;
    text-align: right;
    
  }

  .nav-ul li{
    margin-bottom: 10px;
    display: inline-block;
    margin: 15px;
    text-decoration: none;
  }
.nav-ul li a{
  text-decoration: none;
  float: left;
  color: aliceblue;
}
  
.nav-ul :hover{
  background-color: #313030;
}






.quantity-container {
  display: flex;
  align-items: start;
  
}

.container2{
  padding: 10px;
  margin-top: 20px;
}

.quantity-btn {
  padding:5px 10px;
  font-size: 1rem;
  width:50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
 
}

.quantity {
  margin: 0 10px;
  font-size: 1.2rem;
}

.add-to-cart-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
 width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}
