.innercontainer{
    width: 400px;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    margin: auto;
    background-color: #3f3d3d
}
h2{
    margin-top: 30px;
}

button{
    background-color: #1d201d
}

.containers{
    margin-top: 30px;
}

.secondcontainer{
    margin-left: 20px;
    margin-right: 20px;
   margin-top: 40px;
}


.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
  }
  
  .product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    
  }
  .product-table tbody :hover{
    color: #868585;
  }
  td{
    color: white;
  }
  
  .product-table th {
    background-color: #f2f2f2;
  }

  .delete-button{
    margin-top: 10px;
    margin-right: 30px;
    width: 70px;
   
  }

 textarea{
  max-width:56%;
  float: inline-end;
 }

 input.imageupload{
  width: 60%;
 }
  button.imagebutton{
    width: 30%;
    margin-left: 60%;
  }
  /* .product-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  } */

